.main_footer {
	padding: 10.5em 0;
	background: $footer_bg_color;
	
	dl {
		margin-top: 0;
		margin-bottom: 0;
		list-style-type: none;
	}

	&__content {
		padding: 0 6.2em;
	}
	
	&__left_nav {
		float: left;
		
		&:first-of-type {
			margin: 0 17.1em 0 0;
		}

		dt,dd {
			text-transform: uppercase;
		}

		dt {
			margin: 0 0 1.5em;
			padding: 0;
			color: white;
			font-size: 1.35em;
			font-weight: 900;
			letter-spacing: 0.24em;
		}

		dd {
			margin: 0 0 0.75em;
			padding: 0;
			color: $footer_link_color;
			font-size: 1.3em;
			letter-spacing: 0.12em;
		}
	}

	&__right_nav {
		margin: 0;
		padding: 0;
		@media screen and (min-width: 1025px) {
			float: right;
		}

		@media screen and (max-width: 1024px) {
			//float: none;
			clear: left;
		}
		
		color: white;
		font-weight: 900;
		
		dt {
			margin: 0 0 0.9em;
			color: $footer_right_nav_color;
			font-size: 2.8em;
			font-weight: 900;
			text-align: right;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}

		dd {
			margin: 0 0 0 1.4em;
			padding: 0;
			display: inline-block;
			color: $footer_social_link_color;
			font-size: 2.8em;

			&:first-of-type {
				margin: 0 0 0 3em;
			}
		}
	}

	p {
		display: block;
		clear: both;
		color: $footer_link_color;
		font-family: 'Larsseit';
		text-transform: uppercase;
	}

}

@media screen 
and (max-width: 1500px) {

.main_footer {
	.container {
		width: auto;
	}
}

}////////

@media screen 
and (max-width: 1024px) {

.main_footer {
	padding: 5em 0 ;

	&__content {
		padding: 0 3em;
	}

	&__left_nav {
		&:first-of-type {
			margin: 0 20% 0 0;
		}

		dt,dd {
			font-size: 1em;
		}
	}

	&__right_nav {
		position: relative;
		padding: 4em 0 0;

		dt {
			position: absolute;
			left: 0;
			font-size: 1.7em;
			text-align: left;
		}

		dd {
			margin: 0 0 0 1em;
			font-size: 1.7em;

			&:first-of-type {
				margin: 0 0 0 71%;
			}
		}
	}
	
	p {
		margin: 3em 0 0;
		text-align: center;
	}
	
}

}////////