$mobile_header_height: rem(43);
$desktop_header_height: rem(100);

$mobile_promobar_height: rem(25);
$desktop_promobar_height: rem(40);

.main_header {
	position: absolute;
	//position: relative;
	left: 0;
	top: 0;
	z-index: 99;
	background: rgba(255,255,255,0.8);
	width: 100%;

	ul {
		list-style-type: none;
	}

	&__promo_bar {
		background: black;
		@media screen and (min-width: 1025px) {
			height: $desktop_promobar_height;
		}

		@media screen and (max-width: 1024px) {
			height: $mobile_promobar_height;
		}
		color: white;
		font-size: 1.45em;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.2em;

		span {
			color: $promo_highlight;
		}

		.text {
			position: absolute;
			left: 0;
			top: 50%;
			z-index: 4;
			width: 100%;
			@include transform(translate(0, -50%));
		}
	}

	.bottom_nav_content {
		border-bottom: 1px solid $header_border_color;

		@media screen and (min-width: 1025px) {
			height: $desktop_header_height;
		}

		@media screen and (max-width: 1024px) {
			height: $mobile_header_height;
		}
	}

	&__logo {
		margin: 3.6em 0 0;
		width: 28.8em;
		float: left;
	}

	&__nav {
		float: left;

		ul {
			margin: 3.9em 0em 0 7em;
			padding: 0;
		}

		li {
			position: relative;
			z-index: 2;
			margin: 0 1.03em;
			display: inline-block;
			text-transform: uppercase;
			color: black;
			font-size: 1.4em;
			letter-spacing: 0.25em;

			&:hover {
				
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					z-index: 5;
					background: black;
					height: 1px;
					width: 100%;
					bottom: -0.3em;
				}
				.submenu {
					display: table;
				}
			}
		}

		.submenu {
			position: absolute;
			top: 100%;
			left: -1.8em;
			z-index: 4;
			margin: 0;
			padding: 1.3em 1.6em;
			background: rgba(255,255,255,0.8);
			display: none;
			
			&.clothing {
				padding: 0;
				width: 31.6em;

				li {
					margin: 0;
					padding: 0;
					display: table-cell;
				}
			}

			&.accessories {
				width: 17em;
			}

			&.home {
				width: 10.6em;
			}

			a {
				display: block;
			}

			li {
				margin: 0 0 0.5em;
				display: block;
				font-size: 1.1em;
				letter-spacing: 0.06em;

				&:hover {
					&:before {
						display: none;
					}
				}
			}

		}

		dl {
			margin: 0;
			padding: 1.2em 1.6em;
			
		}

		dt,dd>a {
			margin: 0 0 0.5em;
			letter-spacing: 0.06em;
		}

		dt {
			font-weight: 700;
		}

		dd {
			margin: 0;
		}
	}

	&__secondary_nav {
		float: right;
		
		ul {
			position: relative;
			z-index: 5;
			margin: 3.9em 0 0;
			padding: 0;
		}

		li {
			position: relative;
			margin: 0 0 0 0.73em;
			display: inline-block;
			vertical-align: middle;
			text-transform: uppercase;
			color: $header_color;
			font-size: 1.3em;
			letter-spacing: 0.25em;
			cursor: pointer;

			&:first-of-type {
				margin: 0;
			}

			&.active,&:hover {
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					z-index: 5;
					background: black;
					height: 1px;
					width: 100%;
					bottom: -0.3em;
				}
			}

			&.account_header {
				padding: 0 0 0.2em;
			}
		}

		i {
			pointer-events: none;
		}

		.fas, .far {
			font-size: 1.5em;
			cursor: pointer;
		}

		&_body {
			position: absolute;
			right: -15px;
			top: 0;
			z-index: 4;
			background: white;
			box-shadow: -3px 3px 7px 0px rgba(0,0,0,0.35);
			width: 34.5em;

			@media (max-width: 480px) {
				width: 100vw;
			}
			display: none;

			&.opened {
				display: block;
			}

			span {
				margin: 0 0 1em;
				display: block;
				font-size: 1.2em;
				font-weight: 900;
				text-transform: uppercase;
			}

			.black {
				color: black;
			}

			.grey {
				color: $label_color;
			}

			.title {
				margin: 0 0 1em;
				font-size: 1.1em;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.13em;

				&.top {
					margin: 0 0 2.5em;
				}

				&.bottom {
					margin: 2.5em 0 0;
				}
			}

			.account_panel {
				p {
					margin: 0 0 2.5em;
					font-size: 1.2em;
				}
			}	
		}

		.account_panel {
			display: none;

			&.active {
				display: block;
			}
		}

		.featured_section {
			margin: 8.8em 0 0;
			padding: 1.6em 1.6em;
			border-top: 1px solid $secondary_nav_border;
			display: none;

			&.active {
				display: block;
			}
		}

		.active_link {
			cursor: pointer;
		}

		.search_bar,.field {
			position: relative;
			z-index: 7;
			padding: 1em 3em 1em 1em;
			border: 1px solid black;
			font-size: 1.18em;
		}

		.field {
			width: 100%;
		}

		.single_label {
			margin: 0 0 1em;
			display: block;

			&.top {
				margin: 0 0 2em;
			}
		}

		.submit {
			position: absolute;
			right: 0.5em;
			@extend %vertical_align_middle;
			z-index: 8;
			background: none;
			width: 2em;
			color: black;
			font-size: 1.2em;
		}

		.login {
			padding: 1em;
			background: black;
			color: white;
			font-size: 1.2em;
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}

		.cart_items {
			display: table;
		}

		.cell {
			display: table-cell;
			vertical-align: top;

			&:nth-of-type(2) {
				padding: 0 1em 0 2em;
			}
		}

		.cart_description,.remove_item {
			color: $cart_description_color;
			font-size: 1.1em;
			text-transform: uppercase;
			font-weight: 500;
			line-height: 1.8;
		}

		.remove_item {
			margin: 0.7em 0 0;
			color: $cart_remove_item_color;
			font-weight: 500;
			cursor: pointer;
		}

		.cart_checkout_section {
			margin: 5.2em 0 0;
			padding: 1.6em 0 0;

			&:before {
				@extend %block_pseudo_container;
				position: absolute;
				left: -1.6em;
				top: 0;
				background: $secondary_nav_border;
				height: 1px;
				width: calc(100% + 3.2em);
			}

			.title:nth-of-type(1) {
				float: left;
			}
			.title:nth-of-type(2) {
				float: right;
			}

			&:after {
				@extend %fix_clear_container;
			}
		}

		.secondary_text {
			margin: 1em 0;
			color: black;
			font-size: 1.6em;
			font-weight: 300;
			line-height: 1.5;
			text-align: left;
			clear: left;
		}

		.checkout {
			background: black;
			color: white;
			font-size: 1.2em;
			font-weight: 900;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 0.1em;
			cursor: pointer;

			a {
				padding: 1em 0;
				display: block;
			}
		}

		.view_my_bag {
			margin: 1em auto 0;
			display: table;
			color: black;
			font-size: 1.6em;
			text-decoration: underline;
		}
	}

	&__menu_button {
		position: absolute; 
		left: 15px;
		z-index: 9;
		@extend %vertical_align_middle;
		//padding: 20px;
		display: none;
		opacity: 1;
		@extend %cp;
		@include transition(opacity 0.2s ease-out 0s);
	
		span {
			color: black;
			font-size: 2em;
			// display: block;
		 //  	position: absolute;
		 //  	top: 18px;
		 // 	left: 5px;	
		 //  	right: 5px;	
		 //  	background: $header_color;
		 //  	height: 4px;
		 //  	@include transition(all 0s ease-out 0.3s);

			// &:before,&:after {
			// 	@extend %block_pseudo_container;
			// 	position: absolute;
			// 	left: 0;
			// 	background: $header_color;
			// 	height: 4px;
			// 	width: 100%;
			// 	-webkit-transition-duration: 0.3s, 0.3s;
		 //        transition-duration: 0.3s, 0.3s;
		 // 		-webkit-transition-delay: 0.3s, 0s;
		 //        transition-delay: 0.3s, 0s;
			// }

			// &:before {
			// 	top: -10px;
			// 	-webkit-transition-property: top, -webkit-transform;
		 //        transition-property: top, transform;
			// }

			// &:after {
			// 	bottom: -10px;
			// 	-webkit-transition-property: bottom, -webkit-transform;
		 //        transition-property: bottom, transform;
			// }
		}
	}	
}

@media screen 
and (max-width: 1499px) {

.main_header {
	.container {
		width: auto;
	}

}

}////////

@media screen 
and (max-width: 1374px) {

.main_header {
	
	.container,.row,.col-lg-12 {
		height: 100%;
	}

	&__logo {
		width: 25em;
	}

	&__nav {
		ul {
			margin: 4.1em 0 0 1.8em;
		}
	
		li {
			font-size: calc( 10px + (13 - 10) * (100vw - 1025px) / (1374 - 1025) );
		}
	}

	&__secondary_nav {
		li {
			font-size: calc( 10px + (13 - 10) * (100vw - 1025px) / (1374 - 1025) );
		}
	}
}

}//////

@media screen 
and (max-width: 1024px) {

.main_header {

	&__nav {
		display: none;
	}

	&__logo {
		margin: 0;
		float: none;
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 5;
		@include transform(translate(-50%, -50%));	
	}

	&__menu_button {
		display: block;
	}

	&__secondary_nav {
		float: none;
		position: absolute;
		right: 15px;
		top: 50%;
		z-index: 4;
		@include transform(translate(0, -50%));

		ul {
			margin: 0;
		}

		.account_header,.fa-heart {
			display: none;
		}
	}

	
}

}////////

@media screen 
and (max-width: 480px) {

.main_header {
	
	&__logo {
		width: 53%;
	}

	&__secondary_nav {

		li {
			font-size: 1em;
		}
	}
}

}///////



