.page_container {
	&.remove_promo_bar {
		@media screen and (min-width: 1025px) {
			padding-top: 2.5rem;
			//padding-top: rem(140);
		}

		// @media screen and (max-width: 1374px) {
		// 	padding-top: rem(63);
		// }	

		@media screen and (max-width: 1074px) {
			//padding-top: rem(63);
		}			


		.main_header {
			position: fixed;
			// @media screen and (min-width: 1375px) {
			// 	height: $desktop_header_height;
			// }

			// @media screen and (max-width: 1374px) {
			// 	height: $mobile_header_height;
			// }

			
			&__promo_bar {
				display: none;
			}
		}
	}

	&.mobile_menu_opened {

		.page_overlay{
			z-index: 9998;
			opacity: 1;
			@include transition(all 0.2s ease-out 0s);
		}

		.mobile_nav  {
			@include transform(translateX(0));
		}
	}
}

