.slider.hero {

	img {
		position: absolute;
		z-index: 7;
		height: 100%;
		width: 100%;
	}

	.slider_content {
		padding: 43.4% 0 0;
	}

	.slide_content {
		position: absolute;
		left: 9.5em;
		bottom: 7.6em;
		z-index: 8;
		width: 50%;
		@extend %link_pointer;
	}

	.text {
		margin: 0 0 0.5em;
		line-height: 1.2;
		@extend %text;
	}

	.next_button,.prev_button {
		top: 47.2%;
		padding: 1.3em;
	}

	.next_button {
		right: 3.9em;
		@include transform(translateY(-50%) rotate(-135deg));
	}

	.prev_button {
		left: 3.9em;
		@include transform(translateY(-50%) rotate(45deg));
	}
	
}

