.clothing {

	&.homepage {
		padding: 30px 0;

		@media (max-width: 767px) {
			padding: 0;
		}
	}

	@media (min-width: 768px) 
	   and (max-width: 1499px) {
	   	.container {
			width: calc(100% - 30px);
		}
	}
}

.single_product {
	@media (max-width: 767px) {
		margin: 15px 0;
	}

	img {
		position: relative;
		z-index: 7;
		width: 100%;
	}

	.text {
		position: absolute;
		left: 1.1em;
		bottom: 1.2em;
		z-index: 8;
		@extend %text;
	}
}

.featured_section,.new_arrivals {
	@media (min-width: 768px) 
	   and (max-width: 1499px) {
	   	.container {
			width: calc(100% - 30px);
		}
	}
}

.read_full_story {
	margin: 7.8em 0;
	text-align: right;
	overflow: hidden;
	
	&:after {
		@extend %fix_clear_container;
	}

	.content {
		position: absolute;
		left: 35vw;
		//left: 19.7%;
		top: 44%;
		z-index: 8;
		@include transform(translate(-50%, -50%));
		
		@media (max-width: 1499px) {
			left: 35vw;
		}
	}

	h1 {
		margin: 0 0 1em;
		@extend %text;
		line-height: 1.5;
	}

	@extend %link_pointer;

	a {
		margin-right: 2.1em;
	}

	.featured_image {
		background: url('images/store_image.jpg') no-repeat right top/contain;
		padding: 23vw 0;
		@include transform(translateX(0));

		@media (max-width: 767px) {
			padding: 37vw 0;
			background: url('images/store_image.jpg') no-repeat right top/cover;
			@include transform(translateX(46vw));
		}

		@media (min-width: 768px) and (max-width: 1024px) {
			padding: 29vw 0;
			background: url('images/store_image.jpg') no-repeat right top/contain;
			@include transform(translateX(23vw));
		}

		@media (min-width: 1025px) and (max-width: 1499px) {
			padding: 25vw 0;
			background: url('images/store_image.jpg') no-repeat right top/contain;
			@include transform(translateX(8vw));
		}


		// @media (max-width: 1499px) {
		// 	padding: 23vw 0;
		// 	background: url('images/store_image.jpg') no-repeat right top/contain;
		// 	@include transform(translateX(47%));
		// }
	}
}

.subscribe_container {
	padding: 10.2em 0 8em;

	.text {
		@extend %text;
		font-size: 2.2em;
		line-height: 1.2;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-align: center;
	}

	.subscribe_form {
		margin: 6.6em 15% 0;
		padding: 0 0 1.5em;
		border-bottom: 1px solid black;
		//display: table;
	}

	input {
		color: black;
		font-size: 1.4em;
		display: inline-block;
		vertical-align: middle;
	}

	input[type="text"] {
		min-width: 78%;
		width: auto;
	}

	.subscribe {
		min-width: 20%;
		width: auto;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
}	

.scroll_top_button {
  position: absolute;
  right: 0;
  @extend %vertical_align_middle;
  z-index: 12;
  cursor: pointer;

  span {
    display: block;
    padding: 1em;
    border-top: 1px solid black;
    border-right: 1px solid black;
    @include transform(rotate(-45deg));
   
  }

  &:after {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    text-align: center;
    content: 'TOP';
    display: block;
  }

}
