.instagram_slider {
	overflow: hidden;

	.text {
		margin-left: 1.1em;
		@extend %text;
	}

	.slider_content {
		margin: 0 -0.9em;// -2.8em;
	}

	.slider_mask,.single_slide {
		position: relative;
	}

	.slider_mask:after {
		@extend %fix_clear_container;
	}

	.single_slide, .single_slide:first-of-type  {
		left: auto;
	}

	.single_slide {
		margin: 0 0.9em;
		height: auto;
		//width: calc(25.1vw - 1.8em);
		//width: 37em;
		float: left;

		img {
			width: 100%;
		}
	}

	.next_button,.prev_button {
		top: 50%;
		padding: 1.3em;
	}

	.next_button {
		right: 2.3em;
		//right: 13.9em;
		@include transform(translateY(-50%) rotate(-135deg));
	}

	.prev_button {
		left: 2.3em;
		//left: 13.9em;
		@include transform(translateY(-50%) rotate(45deg));
	}

}