.page_overlay {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -10;
	background: rgba(255,255,255,0.95);
	height: 100%;
	width: 100%;
	opacity: 0;
	@include transition(all 0s ease-out 0.2s);
}

.mobile_nav {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	background: $mobile_nav_bg;
	border-right: 1px solid $mobile_nav_border_bg;
	height: 100%;
	width: rem(285);
	overflow: hidden;
	@include transform(translateX(-100%));
	@include transition(all 0.2s ease-out 0.2s);
	
	&:before,&:after {
		position: absolute;
		top: 0;
		z-index: 3;
		height: 100%;
		@extend %block_pseudo_container;
	}

	&:before {
		left: 0;
		background: $mobile_nav_bg;
		width: 5.45em;
	}

	&:after {
		left: 5.45em;
		background: white;
		width: calc(100% - 5.45em);
	}

	nav {
		z-index: 4;
		&:after {
			@extend %fix_clear_container;
		}
	}

	ul {
		list-style-type: none;
	}

	&.sign_in_opened {
		width: 100%;

		.mobile_nav__form {
			opacity: 1;
			@include transform(translateX(0));
			//@include transition(all 0s ease-out 0.2s);
		}
	}

	&__main_section {
		margin: 0;
		padding: 0;
		float: left;
		
		li {
			position: relative;
			padding: 2.75em;
			text-align: center;

			&.active {
				background: $mobile_nav_selected_bg;
			}
		}

		svg,img {
			position: absolute;
			left: 50%;
			top: 43%;
			@include transform(translate(-50%, -50%));
			pointer-events: none;
		}

		span {
			position: absolute;
			left: 50%;
			bottom: 0.2em;
			@include transform(translateX(-50%));
			text-transform: capitalize;
			pointer-events: none;
		}
	}

	&__secondary {
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		width: calc(100% - 5.45em);
		background: white;
		margin: 0;
		padding: 0;
		opacity: 0;
		@include transform(translateX(100%));
		@include transition(opacity 0.2s ease-out 0s, all 0.2s ease-out 0.2s);

		&.active {
			z-index: 9;
			opacity: 1;
			@include transform(translateX(0));
		}

		li {
			position: relative;
			padding: 1.26em 1em 1.26em 1.6em;
			border-bottom: 1px solid $mobile_nav_border_bg;
			display: block;
			font-size: 1.4em;
			font-weight: bold;
			text-transform: uppercase;
		    letter-spacing: 0.1em;	

		    &.back {
	    		padding: 1.26em 1em 1.26em 4em;
	   		}

	   		&.has_link,&.accordion {
				padding: 0;
	   		}

	   		&.accordion {
	   			border: none;
	   		}

	   		a {
	   			padding: 1.26em 1em 1.26em 1.6em;
	   			display: block;
	   			font-weight: 300;
	   		}
		}

		.pointer {
			position: absolute;
			top: 0;
			z-index: 5;
			height: 100%;
			width: 4em;
			pointer-events: none;
			//background: orange;

			.arrow {
					position: absolute;
					pointer-events: none;
				}

			&.right {
				right: 0;
				width: 2.75em;

				.arrow {
					left: 50%;
					top: calc(50% - 5px);
					@include transform(rotate(-45deg) translateX(-50%) translateY(-50%));
				}
			}

			&.left {
				left: 0;

				.arrow {
					left: calc(50% - 10px);
					top: calc(50% - 5px);
					@include transform(rotate(134deg) translateX(-50%) translateY(-50%));
				}
			}
		}

		.arrow {
			display: block;
			border-right: 2px solid black;
			border-bottom: 2px solid black;
			height: 10px;
			width: 10px;
		}

		dl {
			margin: 0;
			padding: 0;

			&.inactive {
				dt {
					&:after {
						content: '+';
					}
				}

				dd {
					display: none;
				}
			}
		}

		dt {
			position: relative;
			padding: 1.26em 1em 1.26em 1.6em;
			border-bottom: 1px solid $mobile_nav_border_bg;

			&:after {
				position: absolute;
				right: 0.5em;
				@extend %vertical_align_middle;
				z-index: 5;
				content: '-';
				display: block;
				color: black;
				font-size: 1.4em;
			}
		}

		dd {
			margin: 0;
			padding: 0 0 0 1em;
			font-size: 0.9em;
			border-bottom: 1px solid $mobile_nav_border_bg;
			display: block;
		}

		dd>a {
			padding: 1.56em 1em 1.557em 1.6em;
		}
	}

	&__form {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 11;
		margin: 0;
		padding: 0;
		background: white;
		height: 140em;
		width: 100%;
		opacity: 0;
		@include transform(translateX(100%));
		@include transition(opacity 0s ease-out 0s, all 0.2s ease-out 0.2s);
		
		.header {
			position: relative;
			height: 5.6em;
			border-bottom: 1px solid $mobile_nav_border_bg;
		}
		
		.back_button {
			position: absolute;
			left: 1.2em;
			@extend %vertical_align_middle;
			color: black;
			font-size: 1.4em;
			text-transform: uppercase;
			line-height: 0.6;
			pointer-events: none;

			span {
				display: inline-block;
				vertical-align: middle;
			}

			.caret {
				margin: 0 0.1em 0.2em 0;
				color: $mobile_back_button_chevron_color;
				font-size: 2.1em;
			}
		}

		img {
			position: absolute;
			@extend %centered_align; 
			width: 15.1em;
			pointer-events: none;
		}

		.account_section {
			padding: 1.6em 1.8em;
			border-bottom: 1px solid $mobile_nav_border_bg;
			font-size: 1em;
		}

		.title {
			color: black;
			font-size: 1.3em;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.13em;

			&.top {
				margin-bottom: 1.3em;
			}
		}

		label {
			display: block;
			color: $label_color;
		}

		.field {
			display: block;
			border: 1px solid black;
			margin: 0 0 0.9em;
			padding: 0.8em;
			width: 100%;
			font-size: 1.5em;
		}

		.submit {
			margin: 1.3em 0 0;
			padding: 0.9em 0;
			background: black;
			color: white;
			font-size: 1.5em;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 0.06em;
		}

		.left {
			@extend %left;
		}

		.right {
			@extend %right;
		}

		.grey {
			margin: 0 0 1em;
			color: $label_color;
		}

		sup {
			font-size: 1.2em;
			line-height: 1;
		}

		.bottom_links {
			padding: 1.5em 1.8em;
			
			&:after {
				@extend %fix_clear_container;
			}
		}
	}
}













