.new_arrivals {
	margin: 6em 0 0;
	overflow: hidden;

	.text {
		margin-left: 1.1em;
		@extend %text;
	}

	.slider_content {
		margin: 0 -1.4em;
	}

	.slider_mask,.single_slide {
		position: relative;
	}

	.slider_mask:after {
		@extend %fix_clear_container;
	}

	.single_slide, .single_slide:first-of-type  {
		left: auto;
	}

	.single_slide {
		margin: 0 0.7em;
		height: auto;
		width: 28.4em;
		//width: calc(100vw / 6);
		float: left;
	}

	a {
		display: block;
	}

	.slide_content {
		margin: 1em 0;
		font-size: 1.4em;
		text-align: center;
		line-height: 1.6;
	}

	.product_type {
		text-transform: uppercase;
	}

	.next_button,.prev_button {
		top: 50%;
		padding: 1.3em;
	}

	.next_button {
		right: 3.9em;
		@include transform(translateY(-50%) rotate(-135deg));
	}

	.prev_button {
		left: 3.9em;
		@include transform(translateY(-50%) rotate(45deg));
	}

	.left_overlay,.right_overlay {
		position: absolute;
		top: 0;
		z-index: 10;
		background: rgba(255,255,255,0.67);
		height: 100%;
		width: 14.2em;
	}

	.left_overlay {
		left: 1.4em;
	}

	.right_overlay {
		right: 1.4em;
	}
}

.homepage_bottom_slider {
	overflow: hidden;

	.text {
		margin-left: 1.1em;
		@extend %text;
	}

	.slider_content {
		margin: 0 -2.8em;
	}

	.slider_mask,.single_slide {
		position: relative;
	}

	.slider_mask:after {
		@extend %fix_clear_container;
	}

	.single_slide, .single_slide:first-of-type  {
		left: auto;
	}

	.single_slide {
		margin: 0 0.7em;
		height: auto;
		width: 37em;
		float: left;

		img {
			width: 100%;
		}
	}
}