.slider {

	&_content {
		//padding: 43.5% 0 0;
	}

	&_mask {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 9;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	.single_slide {
		position: absolute;
		left: 100%;
		top: 0;
		z-index: 9;
		height: 100%;
		width: 100%;

		&:first-of-type {
			left: 0;
		}
	}

	.next_button,.prev_button {
		position: absolute;
		z-index: 10;
		border-left: 3px solid black;
		border-bottom: 3px solid black;
		cursor: pointer;
	}
}

