$promo_highlight: #b3f1e6;
$header_color: #242021;
$footer_bg_color: #1f1f1f;
$footer_link_color: #ababab;
$footer_social_link_color: #fefefe;
$footer_right_nav_color: #c6c6c6;
$mobile_nav_bg: #f2f3f4;
$mobile_nav_border_bg: #e8e8e8;
$mobile_nav_selected_bg: #909090;
$mobile_back_button_chevron_color: #9e9e9e;
$label_color: #bebebe;
$header_border_color: #efefef; 
$hero_slider_pointer_color: #296a76;
$secondary_nav_border: #dfe0e1;
$cart_description_color: #555555;
$cart_remove_item_color: #aaaaaa; 
$cart_title_color: #a7a7a7; 
$cart_description_list_color: #999999;
$cart_row_bg: #efefef;
$cart_highlight: #b0b1b2;
$cart_total_row_bg: #c6c6c6;
$cart_table_border_color: #d5d5d5;
$paypal_blue: #009be3;
$section_title_color: #dfe0e1;