$promo_highlight: #b3f1e6;
$header_color: #242021;
$footer_bg_color: #1f1f1f;
$footer_link_color: #ababab;
$footer_social_link_color: #fefefe;
$footer_right_nav_color: #c6c6c6;
$mobile_nav_bg: #f2f3f4;
$mobile_nav_border_bg: #e8e8e8;
$mobile_nav_selected_bg: #909090;
$mobile_back_button_chevron_color: #9e9e9e;
$label_color: #bebebe;