.cart_info {
	padding: 6.1em 0;

	@media (max-width: 1024px) {
		padding: 3.1em 0;
		.container {
    		width: 100%
		}
	}
		
	&__title_container {
		padding: 0 0 1.6em;
		border-bottom: 1px solid $cart_title_color;
		color: $cart_title_color;
		
		text-transform: uppercase;

		h2 {
			font-size: 1.5em;
			font-weight: 500;
    		letter-spacing: 0.03em;
   			word-spacing: 0.1em;	

   			@media (max-width: 1499px) { 
				font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1499 - 300)));
   			}
		}
	}

	.print_button {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 1.5em;
		font-weight: 500;
		cursor: pointer;
		
		@media (max-width: 1025px) { 
			display: none;
		}

	}

	&__order_description {
		.image,.content {
			display: inline-block;
			vertical-align: top;
		}

		.image {
			@media (max-width: 1499px) { 
				width: 23%;
			}
		}

		.content {
			margin: 0 0 0 3.2em;
			padding: 0.8em 0;
			width: 76%;

			@media (max-width: 767px) {
				padding: 0;
			}

			@media (max-width: 1499px) { 
				margin: 0 0 0 1vw;
				width: 74%;
			}
		} 

		.product_title {
			width: 45%;
			font-size: 1.8em;
			letter-spacing: 0.1em;
			float: left;

			@media (max-width: 767px) {
				float: none;
				width: auto;
				font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (767 - 300)));
			}

			@media (min-width: 1025px) 
   			and (max-width: 1499px) { 
				font-size: calc(12px + (18 - 12) * ((100vw - 1025px) / (1499 - 1025)));
   			}
		}

		.price {
			float: right;
			font-size: 2.2em;

			@media (max-width: 767px) {
				float: none;
				width: auto;
				font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (767 - 300)));
			}

			@media (min-width: 1025px) 
   			and (max-width: 1499px) { 
				font-size: calc(15px + (22 - 15) * ((100vw - 1025px) / (1499 - 1025)));
   			}
		}

		.top:after {
			@extend %fix_clear_container;
		}

		.product_info {
			margin: 3em 0 2.5em;
			text-transform: uppercase;

			@media (max-width: 767px) { 
				margin: 0;
   			}

			li {
				margin: 0 0 0.3em;
				color: $cart_description_list_color;
			}
		}

		ul {
			padding: 0;
			list-style-type: none;
		}

		li {
			font-size: 1.5em;

			@media (max-width: 767px) { 
				font-size: calc(10px + (15 - 10) * ((100vw - 300px) / (767 - 300)));
   			}

			@media (min-width: 1025px) 
   			and (max-width: 1499px) { 
				font-size: calc(10px + (15 - 10) * ((100vw - 1025px) / (1499 - 1025)));
   			}
		}

		.action_list {
			
			li  {
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
			}

			li:first-of-type {
				&:after {
					margin: 0 0 0 0.5em;
					content: '|';
					display: inline-block;

				}
			}

			i {
				margin: 0 0.3em 0 0.5em;
				display: inline-block;
				color: $cart_description_list_color;
			}
		}
	}

	&__single_row {
		padding: 3.1em 0;
	}
	
	&__order_summary {

		background: $cart_row_bg;
		//margin-left: 15px;

		.table_title {
			padding: 0.9em 1.8em;
			background: black;
			color: white;
			font-size: 1.2em;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.22em;
		}

		.table_row {
			border-left: 1px solid $cart_total_row_bg;
			border-right: 1px solid $cart_total_row_bg;
			padding: 1.4em 2.3em;
 			display: table;
			width: 100%;
			letter-spacing: 0.1em;

			&.total {
				padding: 1.1em 2.3em;
				background: $cart_total_row_bg;
			}

			.total_price {
				font-size: 2em;
				font-weight: 100;

				@media (max-width: 767px) { 
					font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (767 - 300)));
	   			}

				@media (min-width: 1025px) 
	   			and (max-width: 1499px) { 
					font-size: calc(16px + (20 - 16) * ((100vw - 1025px) / (1499 - 1025)));
	   			}
			}
		}

		.table_cell {
			display: table-cell;
			vertical-align: middle;
			width: 50%;
			font-size: 1.8em;
			font-weight: 400;

			@media (max-width: 767px) { 
				font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (767 - 300)));
   			}

			@media (min-width: 1025px) 
   			and (max-width: 1499px) { 
				font-size: calc(14px + (18 - 14) * ((100vw - 1025px) / (1499 - 1025)));
   			}

			&.right_align {
				text-align: right;
			}
		}

		.highlight {
			color: $cart_highlight;
		}
	}

	.checkout_container {
		padding: 2.3em 3em;
		border-left: 1px solid $cart_total_row_bg;
		border-right: 1px solid $cart_total_row_bg;
		border-bottom: 1px solid $cart_total_row_bg;

		.secondary {
			margin: 1.2em 0;
			font-size: 1.8em;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.checkout_button {
		@extend %checkout;
		font-size: 1.7em;
	}

	.paypal_button {
		border: 1px solid $paypal_blue;
		padding: 2.5em 0;
		background: url('images/pay_pal_button.jpg') no-repeat center center;
		cursor: pointer;
	}

	.featured_link {
		margin: 0.9em auto 0;
		border-bottom: 1px solid black;
		display: table;
		font-size: 1.7em;
		letter-spacing: 0.1em;
		word-spacing: 0.1em;
	}	
}

%section_title {
	margin: 0 0 1em;
	border-top: 1px solid $section_title_color;
	border-bottom: 1px solid $section_title_color;
	padding: 1em 0;
	font-size: rem(18);
	text-transform: uppercase;
	text-align: center;
}

.cart_favorites,.cart_recently_viewed {
	.section_title {
		@extend %section_title;
	}
}

.cart_recently_viewed {
	margin: 5em 0;
}